<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
    <div class="container mt-5 d-flex flex-column align-items-center">
        <h1>Welcome to my Olympic SQL App</h1>
        <a href="{{ url_for('athletes') }}" class="btn btn-primary mb-2">View all Athletes</a>
        <a href="{{ url_for('query_execution') }}" class="btn btn-primary mb-2">Execute Queries</a>
    </div>
</html>
